<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073765348596-7bvkpc87trtt813lrlllteip1qds5t6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBlHy9ex97cnD2zeRL1MWiYXrq7dOa7rIM</string>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073765348596:ios:8dd22ed144664787</string>
	<key>GCM_SENDER_ID</key>
	<string>1073765348596</string>
	<key>BUNDLE_ID</key>
	<string>carlos.martin.OffiMate</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>DATABASE_URL</key>
	<string>https://singlesignup-c74ac.firebaseio.com</string>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>PROJECT_ID</key>
	<string>singlesignup-c74ac</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>STORAGE_BUCKET</key>
	<string>singlesignup-c74ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>CLIENT_ID</key>
	<string>1073765348596-7bvkpc87trtt813lrlllteip1qds5t6m.apps.googleusercontent.com</string>
</dict>
</plist>
